<div id="profile-box" class="widget-wrap">
  <div class="photo-box">
    <img id="profile-image" src="<%- url_for('/images') %>/profile.jpg" title="<%= config.profile_img_credit %>" alt="<%= config.profile_img_alt %>, <%= config.profile_img_credit %>">
  </div>
  <a href="<%- url_for() %>" id="titleAnchor">
    <h1 id="site-title"><span class="txtEn"><%= config.title %></span> <span class="txtKr"><%= config.title_kr %> ?</span></h1>
  </a>
  <p id="site-description">
    <%= config.description %>
  </p>
  <ul id="social-links">
    <li>
      <a id="social-link-email" class="social-link" href="mailto:<%= config.email_addr %>" title="<%= __('email address') %>"></a>
    </li>
    <li>
      <a id="social-link-git" class="social-link" href="<%= config.github_link %>" title="<%= __('github profile') %>"></a>
    </li>
  <% for (var i in theme.menu){ %>
    <li class="flex-right">
      <a class="page-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    </li>
  <% } %>
  </ul>
</div>
